<%- include('../partials/users/_head') %>
    <main class="profile-page" role="main">
        <section aria-label="User profile information" class="left-panel">
            <div class="profile-pic-wrapper">
                <img alt="Smiling woman wearing a grey hijab and black headphones, resting her chin on her hand, with a bright window behind her"
                    height="200"
                    src="https://storage.googleapis.com/a1aa/image/a3e94f37-dc83-42d0-999d-ee0905fcbab2.jpg"
                    width="200" />
            </div>
            <h1 class="name">
                Yona Cantika Damai Sari
            </h1>
            <p class="username">
                yona123
            </p>
            <!-- <button class="edit-profile-btn" type="button">
                Edit profile
            </button> -->
            <button class="logout-btn" type="button">
                <i aria-hidden="true" class="fas fa-sign-out-alt">
                </i>
                Keluar
            </button>
        </section>
        <section aria-label="Settings and other options" class="right-panel">
            <h2 class="section-title">
                Setting Accounts
            </h2>
            <div class="settings-cards">
                <article aria-label="Pembokiran setting" class="card" tabindex="0">
                    <div class="card-icon">
                        <a href="users/add">
                            <img alt="Icon of a person with a prohibition sign" height="40"
                                src="https://storage.googleapis.com/a1aa/image/204ac8ae-9954-48fe-0431-a97d923c1e58.jpg"
                                width="40" />
                        </a>
                    </div>
                    <h3 class="card-title">
                        Ajukan Campaign
                    </h3>
                    <p class="card-desc">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, dolor excepturi corrupti
                        commodi suscipit tempore!
                    </p>
                </article>
                <article aria-label="Log aktivitas setting" class="card" tabindex="0">
                    <div class="card-icon">
                        <a href="">
                            <img alt="Icon of a paper with a pencil" height="40"
                                src="https://storage.googleapis.com/a1aa/image/204ac8ae-9954-48fe-0431-a97d923c1e58.jpg"
                                width="40" />
                        </a>
                    </div>
                    <h3 class="card-title">
                        Log aktivitas
                    </h3>
                    <p class="card-desc">
                        Lihat dan kelola aktivitas donasi Anda dalam website BantuTeman.
                    </p>
                </article>
            </div>
        </section>
    </main>

    <%- include('../partials/users/_foot') %>
        <!-- End Preloader -->
        <div class="preloader-background">
            <div class="preloader-wrapper big active">
                <div id="loader-wrapper">
                    <div id="loader"></div>
                </div>
            </div>
        </div>

        <!-- jQuery -->
        <!-- Di bagian bawah sebelum </body>, hapus JS yang tidak digunakan -->
        <script src="/assets/js/jquery-2.1.3.min.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/assets/materialize/js/materialize.min.js"></script>
        <script src="/assets/js/menuzord.js"></script>
        <script src="/assets/js/jquery.easing.min.js"></script>
        <script src="/assets/js/jquery.sticky.min.js"></script>
        <script src="/assets/js/smoothscroll.min.js"></script>
        <script src="/assets/owl.carousel/owl.carousel.min.js"></script>
        <script src="/assets/flexSlider/jquery.flexslider-min.js"></script>
        <script src="/assets/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="/assets/js/scripts.js"></script>
        <script type="text/javascript">
            $(window).load(function () {
                $('.preloader-wrapper').fadeOut();
                $('.preloader-background').delay(350).fadeOut('slow');
            });
        </script>
        </body>

        </html>